/target/

**/*.rs.bk
*.pdb

.direnv/
.envrc.cache
result
result-*

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store

# Log files
/logs/
*.log

# Test data and artifacts
/tests/data/
*.qcow2
*.db
sqlx_cache_gen.db
sqlx_prepare.db

# Other temporary files
sqlite:/

