# Build Artifacts
target/
result
result-*
node_modules/

# IDE/Editor
.idea/
.vscode/
*.swp
*.swo
*~
*.rs.bk
*.pdb
.DS_Store

# Nix
.direnv/
.envrc.cache

# Test Output & Logs
test-evidence/
logs/
*.log
*.qcow2
*.db
sqlx_cache_gen.db
sqlx_prepare.db
sqlite:
sqlite:/
/tests/data/
ebpf-result
